<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid"">
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="panel" >
              <div class="panel-heading">
                <div class="panel-titel" style="color: snow;">
                  <h2>Step in the world of movies</h2>
                </div>
              </div>
              <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Username" style="width:80%;">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="password" placeholder="Password" style="width:80%;">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="password" placeholder="Repeat Password" style="width:80%;">
                    </div>
                  </form>

              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
      </div>
    </div>
  </body>
</html>