<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid"">
      <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <div class="panel" >
              <div class="panel-heading">
                <div class="panel-titel" style="color: snow;">
                  <p class="panel-titel-text">Step in the world of movies</p>
                </div>
              </div>
              <div class="panel-body">
                  <form>
                    <!-- Beginn : Input Ussername-->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <span class="fa fa-user"></span>
                          </span>
                        </div>
                        <input class="form-control" type="text" placeholder="Username">
                    </div>
                    </div>
                  <!-- End : Input Ussername-->
                  <!-- Beginn : Input Ussername-->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <span class="fa fa-envelope"></span>
                        </span>
                      </div>
                      <input class="form-control" type="text" placeholder="Email">
                  </div>
                  </div>
                  <!-- End : Input Ussername-->
                    <!-- Beginn : Input Password-->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <span class="fa fa-lock"></span>
                          </span>
                        </div>
                      <input class="form-control" type="password" placeholder="Password" style="width:80%;">
                    </div>
                    </div>
                    <!-- End : Input Password-->
                    <!-- Beginn : Repeat Password-->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                            <i class="fa fa-check"></i>
                          </span>
                        </div>
                      <input class="form-control" type="password" placeholder="Repeat Password" style="width:80%;">
                    </div>
                    </div>
                    <!-- End : Repeat Password-->
                    <!-- Beginn : Signup Button-->
                    <div class="form-group">
                      <button type="button" class="btn-primary">Sign up</button>
                     </div> 
                    <!-- End : Signup Button-->
                  </form>
                  <p style="color: white;">
                    Already have an account?
                    <u>
                      <a href="*" style="color: rgba(0, 189, 149);">click here</a>
                    </u>
                  </p>

              </div>
            </div>
          </div>
          <div class="col-4"></div>
      </div>
    </div>
  </body>
</html>