html { 
    background: url(../resources/Signup-Background.gif) no-repeat center center fixed; /* shorthand version. Orders are : color img repeat position */
    -webkit-background-size: cover; /* for Chrome and Safari */
    -moz-background-size: cover;    /* for mozilla */
    -o-background-size: cover;      /* for opera */
    background-size: cover;         /* default */
  }