html{
  height: 100%;
  width: 100%;
}

body{
  background: url(../resources/Signup-Background.gif) no-repeat center center fixed; /* shorthand version. Orders are : color img repeat position */
    -webkit-background-size: cover; /* for Chrome and Safari */
    -moz-background-size: cover;    /* for mozilla */
    -o-background-size: cover;      /* for opera */
    background-size: cover;      /* default */
  min-height: 100vh;
  min-width: 100vh;

}

.panel {

  background-color: rgba(9, 79, 93, 0.4);
  border-color: rgba(9, 79, 93, 0.5);
  border-radius: 5vh;
  opacity: 100%;
  height: 60vh;
  width:  70vh;
  /*margin-left: 30%;
  margin-right: 30%; */
  margin-top: 30%;
  position: absolute;

}

.panel-heading{
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: rgba(9, 79, 93, 0.4);
}

.panel-body{
  text-align: center;
 /* border-color:yellow; */
 /* border-style:solid; */
  justify-content: center;
}



.form-group{
  margin-left: 70px;

}
